body{
    margin: 0;
}



.navbar {
    background-color: aquamarine;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar li{
    padding: 0 0.5rem;
}

.navbar a{
    color: inherit;
    text-decoration: none;
}

.tabla { 
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}








/* CSS */
.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
}


.container {
    
    justify-content: center;
    align-items: center;
    display: flex;
}

.item {
    margin: 1rem;
}